- var pageTitle = 'Trackr'
doctype 5
html(lang="en")
  head
    title= pageTitle

  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

  #loadEditor
      p Editor icon will be loaded here

  include includes/scripts
