!!! 5
html(lang='en')
head
    title= 'Just Anguled!!!'
    include includes/meta
    include includes/styles
  body(ng-app='trackr')
    include includes/menus
    .container.container-body
      div(ng-view)
    include includes/scripts