ol.breadcrumb
  li
    a(ng-href='#/') Home
  li.active Notify

p
  button(class='btn btn-success', ng-click='success()') Success!!
p
  button(class='btn btn-danger', ng-click='failure()') Failure!!
p
  button(class='btn btn-info', ng-click='info()') Info!!
p
  button(class='btn btn-inverse', ng-click='notification()') notification!!
p
  button(class='btn btn-warning', ng-click='warning()') Warning