script(src='components/angular-unstable/angular.js')
script(src='components/angular-resource-unstable/angular-resource.js')

script(src='scripts/kickstart.js')
//- script(src='scripts/plugins/editorPlugin.js')