script(src='components/chartjs/jquery-1.9.1.min.js')
script(src='components/chartjs/dx.chartjs.js')
script(src='components/chartjs/globalize.min.js')

//- script(src='components/angular-unstable/angular.js')
//- script(src='components/angular-resource-unstable/angular-resource.js')

script(src='components/angularjs-bower/angular.js')
script(src='components/angularjs-bower/angular-resource.js')

script(src='scripts/kickstart.js')
script(src='scripts/directives/timelineDirective.js')
script(src='scripts/directives/piechartDirective.js')
script(src='scripts/controllers/ChartsController.js')