ol.breadcrumb
  li
    a(ng-href='#/') Home
  li.active Charts

h4 1) Pie Chart
    trackr-piechart(title='piechart.title', data='piechart.data')

hr

h4 2) Line Chart
  div(style='padding-top:20px')
    input.form-control(ng-model='linechart.title') Title
  div
    trackr-line(title='linechart.title', data='linechart.data', update='update')