.jumbotron
    h1 Just Anguled!!!
    p
      | A collection of AngularJs Directives

    div.bs-example
        div.row
            .col-sm-6.col-md-3
              p
                a(href='#/charts') Charts
                a.thumbnail
                    img(src='img/charts.png')
